<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Cadastre-me!</title>
</head>

<body>
    <!-- Página onde os usuários são cadastrados-->
    <nav class="navbar navbar-light bg-light" style="background-color: rgb(190, 146, 232) !important;">
        <div class="container-fluid"><span class="navbar-brand mb-0 h1">Cadastre-me!</span></div>
    </nav>

    <form method="POST" action="{% url 'usuarios' %}">
        {% csrf_token %}
        <div class="container" style="text-align: center;">
            <h1>Cadsatro de Usuários</h1>
            Nome:<input type="text" class="form-control-sm" name="nome" id="nome-user" placeholder="nome da academia..">
            E-mail:<input type="email" class="form-control-sm" name="email" id="email-user" placeholder="email..">
            Senha:<input type="password" class="form-control-sm" name="pass" id="pass" placeholder="senha..">
            Confirmação da Senha<input type="password" class="form-control-sm" name="confpass" id="conf-pass"
                placeholder="confirme a senha..">

            <input type="submit" value="enviar">
        </div>
    </form>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</body>

</html>