<div class="container" style="font-family: sans-serif;">
    <!--Os usuários cadastrados deveriam aparecer nessa tela-->
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Senha</th>
            <th>Confirmação da Senha</th>
        </tr>

        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.id_user}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.senha}}</td>
            <td>{{usuario.conf_senha}}</td>
        </tr>
        {% endfor %}
    </table>
</div>